<div class="jumbotron jumbotron-sm" style="background-color: #ffffe6">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-lg-12">
				<h1 class="h1" jhiTranslate="shine.title">
				</h1>
			</div>
		</div>
	</div>
</div>

<!-- Container (About Section) -->
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h2>About Company Page</h2>
      <h4>Lorem ipsum..</h4>      
      <p>Lorem ipsum..</p>
      <button class="btn btn-default btn-lg">Get in Touch</button>
    </div>
    <div class="col-sm-4">
		<i class="fa fa-signal fa-larger" style="color: #9999ff" aria-hidden="true"></i>
    </div>
  </div>
</div>

<div class="container container-padding bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <i class="fa fa-globe fa-larger" style="color: #9999ff" aria-hidden="true"></i>
    </div>
    <div class="col-sm-8">
      <h2>Our Values</h2>
      <h4><strong>MISSION:</strong> Our mission lorem ipsum..</h4>      
      <p><strong>VISION:</strong> Our vision Lorem ipsum..</p>
    </div>
  </div>
</div>